$GOOGLE_PROJECT_ID = "{{ GOOGLE_PROJECT_ID }}"
$GOOGLE_CLIENT_EMAIL = "{{ GOOGLE_CLIENT_EMAIL }}"
$GOOGLE_JSON_KEY_LOCATION = "{{ GOOGLE_JSON_KEY_LOCATION }}"
$LOCAL_USER = "{{ LOCAL_USER }}"
$LOCAL_SSH_KEY = "{{ LOCAL_SSH_KEY }}"


Vagrant.configure("2") do |config|
  config.vm.box = "gce"

  config.vm.provider :google do |google, override|
    google.google_project_id = $GOOGLE_PROJECT_ID
    google.google_client_email = $GOOGLE_CLIENT_EMAIL
    google.google_json_key_location = $GOOGLE_JSON_KEY_LOCATION

    google.name = "{{ name }}"
    google.zone = "{{ zone }}"
    google.tags = "{{ name }}"

    google.machine_type = "{{ machine_type }}"
    google.image = "centos-7-v20170110"

    google.disk_size = "10"
    google.disk_name = "{{ name }}-ssd"
    google.disk_type = "{{ disk_type }}"

    google.preemptible = true
    google.auto_restart = false
    google.on_host_maintenance = "TERMINATE"

    override.ssh.username = $LOCAL_USER
    override.ssh.private_key_path = $LOCAL_SSH_KEY
  end

end
