IP1={{ IP1 }}
HOSTIP=$IP1
ADMIN_EMAIL=admin@apigee.com
APIGEE_ADMINPW=Apigee2016
LICENSE_FILE=/tmp/license.txt
MSIP=$IP1
LDAP_HOST=$IP1
LDAP_PORT=10389
APIGEE_LDAPPW=Apigee2016
BIND_ON_ALL_INTERFACES=y
MP_POD=gateway
REGION=dc-1
ZK_HOSTS="$IP1"
ZK_CLIENT_HOSTS="$IP1"
CASS_CLUSTERNAME=Apigee
CASS_HOSTS="$IP1"
SKIP_SMTP=n # Skip now and configure later by specifying "y".
SMTPHOST=localhost
#SMTPUSER=
#SMTPPASSWORD=
SMTPSSL=n
SMTPPORT=25
