IP1={{ IP1 }}

HOSTIP=$IP1

PG_NAME=devportal 
PG_USER=apigee
PG_PWD=postgres

PG_HOST={{ PG_HOST }}

DRUPAL_PG_USER=drupaladmin
DRUPAL_PG_PASS=portalSecret

DEFAULT_DB=postgres

DEVPORTAL_ADMIN_FIRSTNAME=firstName 
DEVPORTAL_ADMIN_LASTNAME=lastName 
DEVPORTAL_ADMIN_USERNAME=userName 
DEVPORTAL_ADMIN_PWD=pWord 
DEVPORTAL_ADMIN_EMAIL=foo@bar.com 

EDGE_ORG={{ ORG }}
MGMT_URL={{ MGMT_URL }}

DEVADMIN_USER=admin@apigee.com
DEVADMIN_PWD=Apigee2016

PHP_FPM_PORT=8888

SMTPHOST=smtp.gmail.com

SMTPSSL="n" 
SMTPPORT=25
SMTPUSER=smtpuser
SMTPPASS=smtppass
