IP1={{ IP1 }}

MSIP="$IP1"

ADMIN_EMAIL="admin@apigee.com"
APIGEE_ADMINPW=Apigee2016 # If omitted, you are prompted for it.

ORG_NAME={{ ORG }}

NEW_USER="n"
ORG_ADMIN=admin@apigee.com

ENV_NAME={{ DEV }}

VHOST_PORT=9001
VHOST_NAME=default
VHOST_ALIAS="$IP1:9001"

AXGROUP=axgroup001
